@model ErrorReports.Models.ErrorReport

@{
    ViewData["Title"] = "Details";
}

<h1>Incident Details</h1>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Incident</li>
  </ol>
</nav>

    <hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Model.Status.ToText()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Edit</a>
    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger">Delete</a>

</div>
